extends layout


block content
  h1= title
  
  form(action="/", method="POST")
    input(name="chat_message" type="text", placeholder="Text Message")
    button(type="submit") Send It

  if messages 
    for message in messages
      p= "\n"
      h7
        span= message.message + "\n"
        a(href="/message/" + message.id) Details
      


//- http://localhost:3000/message/57253dff-1a07-428a-ba35-0387f5b965cf