extends layout

block content
    h1= "Message\n" 
    p This message was written on:
    p= "\n " + message.createdAt
    h7
        p
            b Message:
            p= '"' + message.message + '"'
    a(href="/message/" + message.id + "/edit") Edit the Message
    p="\n"
    a(href="/messages") Go Back
        